{% comment %} <div id="insta-feed"></div> {% endcomment %}
<div class="page page-{{page.handle}} container text-center">
  <div class="ac-map">
    {{ page.content }}
    <style>
      .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
      
      .fade-in {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }

      .ac-map-info__title {
        line-height: 1.2;
        text-transform: lowercase;
      }
      .ac-map__section {
        display: flex;
        margin-bottom: 40px;
      }
      .ac-map {
        flex: 1 1 60%;
        padding-left: 20px;
        padding-right: 20px;
      }
      .ac-map-info {
        flex: 0 1 40%;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 450px;
      }
      .ac-map-distributor__box {
        background-color: #FF6B26;
        padding: 30px 30px 10px;
        text-align: left;
      }
      .ac-map-info__title--mobile {
        display: none; 
      }
      .ac-map-distributor__list.ac-map-distributor__list {
        list-style: none;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
      }
      .ac-map-info__text {
        margin-bottom: 30px;
      }
      .ac-map-distributor__item.ac-map-distributor__item {
        text-align: left;
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 1;
      }
      .ac-map-distributor__link {
        white-space: nowrap;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #000;
        line-height: inherit;
        text-decoration: underline;
      }
      .ac-map-distributor__text {
        margin-bottom: 0; 
        line-height: inherit;
        text-transform: capitalize;
      }
      g.ac-map__state:hover,
      g.ac-map__state:focus {
        cursor: pointer; 
      }

      g.ac-map__state:hover .st0_,
      .is-active .st0_,
      g.ac-map__state:hover .st14,
      .is-active .st14 {
        opacity: 1!important;
      }
      .ac-map-distributor__state.ac-map-distributor__state {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
        line-height: 1.4;
        border-bottom: 2px solid #000;
      }
      
      /* Accordion  */
      .ac-map--distributor-info__accordion {
          display: none;
      }
      .ac-map__box,
      .ac-map__wrap {
         position: relative;
         width: 100%;
        display: flex;
      }
      .ac-map__box {
        align-items: flex-start;
      }
      .ac-map-states {
        width: 100%;
        height :auto;
      }
      
      @media (max-width: 767.98px){
        .page-distributor-map.container {
          padding-left: 16px;
          padding-right: 16px;
        }
        .ac-map {
           padding: 0;
           margin-bottom: 20px;
         }
        .ac-map__section {
          flex-direction: column;
        }
        .ac-map-info {
          padding: 0;
          text-align: center;
          min-width: initial;
        }
        .ac-map-info__title {
          display: none; 
        }
        .ac-map-info__title--mobile {
          display: block; 
        }
        .ac-map--distributor-info__accordion {
            display: block;
        }
        .ac-accordion__item {
            margin-bottom: 10px;
            overflow: hidden;
        }
        .ac-accordion__header {
            padding: 10px;
            cursor: pointer;
            border-bottom: 2px solid #FF6B26;
        }
        
        .ac-accordion__content {
            padding: 10px;
            display: none;
        }
        .ac-accordion__item.active .ac-accordion__content {
            display: block;
        }
        
        .ac-map--distributor-info__descktop,
        .ac-map__box {
          display: none;
        }
      }
      
      .ac-map-washington {
        position: absolute;
        right: 20px;
        top: 60%;
        
      }
      .ac-map-washington__title {
        font-size: 10px;
        font-size: calc(3px + 0.390625vw);
        letter-spacing: -0.05em;
        font-weight: 700;
        color: #000000;
      }
      .ac-map-washington__icon {
        width: 64px;
        height: auto;
        padding: 10px 20px 20px;
      }
      @media (min-width: 1919.98px){
         .ac-map-washington__title {
            font-size: 10px;
         }
      }
      @media (min-width: 768px) and (max-width: 991.98px){
        .ac-map-washington__icon {
          padding: 5px 10px 10px;
        }
        .ac-map-info {
          min-width: 320px;
        }
        .ac-map-info__title { 
          font-size: 28px;  
        }
        .ac-map-info__text {
          font-size: 14px;
        }
        .ac-map-washington__title {
          font-size: 4px;
        }
      }
      </style>
    <h1 class="ac-map-info__title--mobile">{{page.title}}</h1>
    <div class="ac-map__section">
     <div class="ac-map__box">
        <div class="ac-map__wrap">
          <!-- <div class="ac-map-washington"> -->
            <!-- <h4 class="ac-map-washington__title">Washington DC</h4> -->
           <!-- <svg xmlns="http://www.w3.org/2000/svg" width="67" height="84" class="ac-map-washington__icon" viewBox="0 0 120 110">
             <g class="ac-map__state" id="DC">
               <path d="m-77.027-38.935-.006-.002h-.004l-.004.001-.007.001-.002.002.002-.003-.003-.001h-.001l.002-.007.002-.002h.002l-.002-.004.005-.004v-.008l-.002.001h-.011v.003l-.002.001h-.002l-.005-.001-.005-.012-.002-.002.018-.013.001-.002.012-.009.004.004.021.015.002.002.005.004.006.005.01.008h-.003l-.003.001-.001.002-.003-.002-.001.001-.005.002v.008l-.003.003-.004.004-.002.001h-.001l-.005.001-.001.002Zm0 0" style="fill-rule:nonzero;opacity:.8;fill:#ff6b26;fill-opacity:1;stroke-width:.00084671;stroke-linecap:round;stroke-linejoin:round;stroke:#fff;stroke-opacity:1;stroke-miterlimit:4" transform="matrix(316.64351 0 0 409.5785 24448.412 15997.15)"/>
               <path d="M-77.07-38.917h-.01l.002.003v.013h-.004l-.008-.003-.004-.002-.007-.005-.002-.002-.003-.006-.007-.006-.004-.004-.001-.003-.002-.002.015-.012.004-.003.01-.008.02-.015v.002l.006.012h.006v.002h.001l.002-.002v-.003h.012l.001.001v.006l-.005.004.002.003-.003.002-.001.001-.003.006.003.001h.001v.002l-.002.002h-.002l-.003.002.006.01-.002.002-.006.002-.001-.001h-.008l-.002.001Zm.056.01h-.001l-.003-.008.001.001h.003l-.001-.007h.003v-.005h-.002l-.004-.002-.001-.006v-.003h.002v-.002l.005-.004.003-.003v-.008l.005-.002h.002l.002.001.001-.002h.007l.05.038-.001.002-.003.002h-.007l-.009.015v.003h-.008l-.007-.002-.006-.001h-.002l-.02-.009-.004.002-.005.001Zm0 0" style="fill-rule:nonzero;opacity:.8;fill:#ff6b26;fill-opacity:1;stroke-width:.00084671;stroke-linecap:round;stroke-linejoin:round;stroke:#fff;stroke-opacity:1;stroke-miterlimit:4" transform="matrix(316.64351 0 0 409.5785 24448.412 15997.15)"/>
               <path d="M-77.02-38.916h-.001v.002h-.011v-.003h-.009l-.005.003v-.002l-.002-.002-.001-.001-.001-.002-.006-.01.003-.002h.003l.001-.002h.001l.007-.001.004-.002h.002l.002.001.003.001h.004v.001l.002-.001.005-.001v.004l.001.005.004.002h.002v.005h-.003v.006l-.002.001h-.001l-.003-.001Zm0 0" style="fill-rule:nonzero;opacity:.8;fill:#ff6b26;fill-opacity:1;stroke-width:.00084671;stroke-linecap:round;stroke-linejoin:round;stroke:#fff;stroke-opacity:1;stroke-miterlimit:4" transform="matrix(316.64351 0 0 409.5785 24448.412 15997.15)"/>
               <path d="M-77.01-38.892h.002v.002l-.001.002v.006h-.019l-.003.001.007.005.004.008v.011l-.012.006-.007-.013v-.004l-.002-.003-.002-.003-.002-.001h-.002l.001.002v.002h-.003l-.002-.002v-.002l-.003-.004-.001-.001h-.003l-.005-.009-.004-.01h-.001l-.002-.002h-.008v-.013l-.001-.002-.001-.001h.013l.003-.001h.006l.006-.002h.002v.001h.002l.002.003v.002l.005-.003h.009v.003h.011v-.001h.003l.003.008h-.001v.002l-.004.001v.008h-.004v.002l.006.002Zm.04.019-.005-.002-.003-.002h.004l.002-.003.008-.01h-.004l-.003-.002-.003.002-.002-.003h-.001v-.006l.008.001.007.001v-.003l.01-.015h.006l.003-.002.001-.002.007.006.026.02-.002.001-.008.007h-.001l-.03.024-.004.002-.008.007-.004-.003-.002-.004v-.001l-.003-.004h-.002l-.006-.002h-.006l.004-.002h.01v-.005Zm0 0" style="fill-rule:nonzero;opacity:.8;fill:#ff6b26;fill-opacity:1;stroke-width:.00084671;stroke-linecap:round;stroke-linejoin:round;stroke:#fff;stroke-opacity:1;stroke-miterlimit:4" transform="matrix(316.64351 0 0 409.5785 24448.412 15997.15)"/>
               <path d="m-76.971-38.892.003.002h.004l-.008.01-.002.002-.004.001-.006.002-.009.005h-.01l-.003.001-.002.005-.012.007v-.011l-.004-.008-.007-.005.003-.001h.018v-.008h-.008l-.006-.003v-.002h.004v-.008h.004v-.003h.002v.001l.005-.002h.004l.02.008h.002l.007.001-.001.006.003.002h.003Zm0 0" style="fill-rule:nonzero;opacity:.8;fill:#ff6b26;fill-opacity:1;stroke-width:.00084671;stroke-linecap:round;stroke-linejoin:round;stroke:#fff;stroke-opacity:1;stroke-miterlimit:4" transform="matrix(316.64351 0 0 409.5785 24448.412 15997.15)"/>
               <path d="m-77.02-38.857.012-.007.002-.005.002-.002h.011l.01-.004.005-.002.004.002.004.002-.001.005h-.01l-.004.001.006.001.006.003.002-.001.002.003h.001v.002l.002.004.003.003h.001l-.018.014-.013.01-.007.006h-.001l-.038.03v-.009l.003-.014h-.002l-.001-.006v-.011l-.002-.002h-.004v-.006h.003l.01-.002v-.008Zm0 0" style="fill-rule:nonzero;opacity:.8;fill:#ff6b26;fill-opacity:1;stroke-width:.00084671;stroke-linecap:round;stroke-linejoin:round;stroke:#fff;stroke-opacity:1;stroke-miterlimit:4" transform="matrix(316.64351 0 0 409.5785 24448.412 15997.15)"/>
               <text x="1" y="14.44" fill="black" class="st21 st3">Washington DC</text>
             </g>
            </svg> -->
          <!-- </div> -->
          <svg class="ac-map-states map-states" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1110 960" width="1110px" height="960px"> 
            {% render 'map' %}
            {% render 'map2' %}
          </svg>
        </div>
     </div>
     <div class="ac-map-info">
        <h1 class="ac-map-info__title">{{page.title}}</h1>
        <p class="ac-map-info__text">are you a hair pro?<br>shop amika wholesale at the following distributor locations. <br>
           unable to find a local distributor in your region? please reach out at <a href="mailto:info@loveamikapro.com">info@loveamikapro.com</a>.
        </p>
        <div class="ac-map--distributor-info ac-map--distributor-info__descktop" id="distributor-info"></div>
        <div class="ac-map--distributor-info ac-map--distributor-info__accordion" id="accordion-container"></div>
        <script>
          {% render 'destributor-list' %}
          document.addEventListener("DOMContentLoaded", () => {
            const mapStates = document.querySelectorAll(".ac-map__box g");
            const updatedDistributors = {};

            Object.keys(distributors).forEach(stateCode => {
                updatedDistributors[stateCode] = distributors[stateCode].map(({ Country, stateСode, state, ...rest }) => rest);
            });
            
            mapStates.forEach((state) => {
                state.addEventListener("click", () => {
                    // Видалення класу 'is-active' з усіх станів
                    mapStates.forEach(s => s.classList.remove("is-active"));
        
                    // Додавання класу 'is-active' до активного стану
                    state.classList.add("is-active");
                  
                    const stateCode = state.getAttribute("id");
                    if (distributors[stateCode]) {
                        displayDistributors(distributors[stateCode], stateCode);
                    }
                });
            });
         
          
            function displayDistributors(distributors, stateCode) {
                const stateName = states[stateCode] || 'Unknown State';
                let html = `<div class="ac-map-distributor__box"><h2 class="ac-map-distributor__state">${stateName}<br>Distribution</h2><ul class="ac-map-distributor__list">`;
                distributors.forEach(distributor => {
                    html += `
                        <li class="ac-map-distributor__item">
                            <p class="ac-map-distributor__text">${distributor['distributor name']}</p>
                            <a class="ac-map-distributor__link" href="${distributor.website}" target="_blank">visit</a>
                        </li>
                    `;
                });
                html += '</ul></div>';
                document.getElementById('distributor-info').innerHTML = html;
            }
            
            //  Accordion
            //  Function for creating an accordion with data from the 'distributors' constant.
           function createAccordionFromData() {
              const accordionContainer = document.getElementById('accordion-container');
              // const stateCodes = Object.keys(distributors).sort();
              const stateCodes = Object.keys(distributors).sort((a, b) => {
                  // Сортуємо stateCodes за першими чотирма символами stateName
                  const stateNameA = states[a] || 'Unknown State A';
                  const stateNameB = states[b] || 'Unknown State B';
                  return stateNameA.substring(0, 7).localeCompare(stateNameB.substring(0, 7));
              });

             
              // We iterate through the 'distributors' object and create an accordion.
              stateCodes.forEach(stateCode => {
                  const distributorsForState = distributors[stateCode].sort((a, b) => {
                      // Сортуємо дистриб'юторів за назвою в алфавітному порядку
                      return a['distributor name'].localeCompare(b['distributor name']);
                  });
                
                  const stateName = states[stateCode] || 'Unknown State';
                  // We create accordion elements.
                  const accordionItem = document.createElement('div');
                  accordionItem.classList.add('ac-accordion__item');
          
                  const header = document.createElement('div');
                  header.classList.add('ac-accordion__header');
                  header.textContent = stateName;
                  console.log({stateName})
                  const content = document.createElement('div');
                  content.classList.add('ac-accordion__content');
          
                  // Adding distributors to the accordion content.
                  distributorsForState.forEach(distributor => { // Змінив на distributorsForState
                      const distributorName = distributor['distributor name'];
                      const distributorLink = distributor.website;
                      const distributorItem = document.createElement('div');
                      distributorItem.classList.add('ac-map-distributor__item');
                      distributorItem.innerHTML = `
                          <p class="ac-map-distributor__text">${distributorName}</p>
                          <a class="ac-map-distributor__link" href="${distributorLink}" target="_blank">visit</a>
                      `;
                      content.appendChild(distributorItem);
                  });
          
                  // Adding a title and content to the accordion item.
                  accordionItem.appendChild(header);
                  accordionItem.appendChild(content);
          
                  // Adding an accordion item to the container.
                  accordionContainer.appendChild(accordionItem);
              });
          }
            
            // Calling the function to create an accordion with data from the 'distributors' constant.
            createAccordionFromData();
            
            // Function for closing all accordions.
            function closeAllAccordions() {
                const accordionItems = document.querySelectorAll('.ac-accordion__item');
                accordionItems.forEach(item => {
                    item.classList.remove('active');
                });
            }
            
            // Adding an event handler for each accordion item.
            const accordionItems = document.querySelectorAll('.ac-accordion__item');
            accordionItems.forEach(item => {
                const header = item.querySelector('.ac-accordion__header');
                const content = item.querySelector('.ac-accordion__content');
            
                header.addEventListener('click', () => {
                    if (item.classList.contains('active')) {
                        // If the accordion is already open, we close it.
                        item.classList.remove('active');
                    } else {
                        // If the accordion is closed, we close all and open the current one.
                        closeAllAccordions();
                        item.classList.add('active');
                    }
                });
            });
          });
        </script>
     </div>
  </div>
    <section class="carry-form-block">
      <h1 class="title"> join us </h1>
      <p>hairstyling is our passion and we have a team of educators ready to teach foundational + avant-garde styling techniques. we offer both trial and broader introductory salon packages as well as competitive loyalty benefits. are you looking to bring amika to your salon? please complete the <a href="https://loveamika.com/pages/carry-us" style="text-decoration: underline;">carry us form</a> to get in touch with an amika Territory Brand Manager - we look forward to hearing from you!</p>
  </section>
  <style>
      @media(min-width:980px){
        .carry-form-block {padding:0px 250px 25px;}        
      }
    </style>
  </div>
</div>