<svg height=0 style="display: none;">
  <symbol id="planetIcon" width="54" height="32" viewBox="0 0 54 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.49322 8.59547C3.61581 8.45049 3.74864 8.29515 3.90188 8.15016C4.0449 7.98447 4.19808 7.82913 4.35132 7.67379C4.5352 7.49774 4.70891 7.32168 4.90301 7.15599C5.09711 6.97994 5.29118 6.80388 5.50571 6.63819C5.61809 6.55534 5.73049 6.45178 5.85308 6.36893C6.07783 6.18252 6.32302 6.00647 6.5682 5.82007L6.98702 5.51974L7.49782 5.18835L7.79412 5.00194C7.978 4.87767 8.16187 4.76375 8.35597 4.63948C8.62159 4.47379 8.8974 4.3288 9.17323 4.16311C9.22431 4.1424 9.27539 4.11133 9.30604 4.09062C9.63295 3.91456 9.97004 3.73851 10.2969 3.58317C10.583 3.44854 10.8588 3.32427 11.1449 3.18964C11.1551 3.18964 11.1551 3.17929 11.1653 3.17929C11.2777 3.12751 11.3697 3.07573 11.4922 3.04466L12.1767 2.74434C12.2788 2.70291 12.3708 2.66149 12.4729 2.63042C12.7998 2.49579 13.137 2.37152 13.4741 2.24725C13.8112 2.12298 14.1585 2.00906 14.5161 1.88479C15.2312 1.65696 15.9463 1.44984 16.6819 1.26343L17.2539 1.1288L17.8873 0.983819L18.4288 0.869903C18.4492 0.859547 18.4799 0.859547 18.5003 0.859547C18.7659 0.797411 19.0417 0.745631 19.3176 0.693851L20.3698 0.507443L20.8704 0.434951C21.1258 0.393528 21.4016 0.36246 21.657 0.331392C21.8 0.31068 21.9431 0.289968 22.0861 0.279612C22.8114 0.196764 23.5367 0.134628 24.2824 0.0828479H24.3029C24.4459 0.0828479 24.6094 0.0724919 24.7728 0.0621359H24.9771C25.2325 0.041424 25.488 0.041424 25.7331 0.020712C26.1009 0 26.4891 0 26.8569 0H27.5209H27.6639C27.8989 0 28.1338 0 28.3586 0.010356C28.7468 0.020712 29.1452 0.031068 29.5232 0.0621359C29.656 0.0724919 29.7786 0.0724919 29.9012 0.0828479C30.1974 0.0932039 30.5039 0.124272 30.8002 0.144984C30.9125 0.15534 31.0249 0.165696 31.1168 0.165696C31.4948 0.20712 31.8626 0.238188 32.2406 0.289968C32.6595 0.341748 33.0783 0.393528 33.4869 0.466019C33.8445 0.517799 34.2021 0.569579 34.5392 0.642071C34.6822 0.652427 34.8252 0.683495 34.9682 0.714563C35.193 0.755987 35.4076 0.787055 35.6323 0.838835C35.8264 0.880259 36.0103 0.911327 36.1942 0.963107L36.8888 1.10809L37.3894 1.24272C37.9921 1.3877 38.5745 1.5534 39.1363 1.72945C39.3304 1.79159 39.5041 1.85372 39.688 1.9055C39.6982 1.91586 39.6982 1.91586 39.7084 1.91586C39.9638 1.98835 40.209 2.09191 40.4542 2.17476C40.8934 2.31974 41.3327 2.48544 41.7516 2.66149C42.0989 2.79612 42.4156 2.93074 42.7425 3.08608C43.1 3.23107 43.4372 3.39676 43.7743 3.56246C44.1012 3.72816 44.4281 3.8835 44.7448 4.05955C44.755 4.05955 44.7857 4.0699 44.7959 4.08026C45.1228 4.26667 45.4702 4.45307 45.7869 4.64984C46.2261 4.91909 46.6551 5.19871 47.074 5.46796C47.8504 6.00647 48.5553 6.5657 49.2091 7.15599C49.4135 7.34239 49.628 7.53916 49.8221 7.73592C50.0162 7.93269 50.2103 8.12945 50.3941 8.33657C50.3941 8.34693 50.4044 8.34693 50.4044 8.34693C52.4271 10.5942 53.5202 13.1314 53.5611 15.7618V15.7722C53.5713 15.8343 53.5713 15.8964 53.5713 15.9586V16.0621C53.5509 18.1748 52.846 20.2252 51.5485 22.1204L51.2216 22.5657C51.0582 22.7728 50.905 22.9799 50.7415 23.1767L50.384 23.5909C50.2001 23.7981 50.006 24.0052 49.7915 24.2019C49.7915 24.2123 49.7812 24.2227 49.7812 24.2227C49.6178 24.3676 49.4645 24.523 49.3113 24.668L49.1683 24.8026C49.0355 24.9165 48.9027 25.0408 48.7596 25.165C48.6575 25.2375 48.5655 25.31 48.4736 25.3929C48.3612 25.4757 48.2693 25.5689 48.1467 25.6518C47.9526 25.8175 47.7278 25.9832 47.5133 26.1385C47.3703 26.2421 47.2272 26.3456 47.0842 26.4492C46.9208 26.5631 46.7573 26.677 46.5837 26.7806L46.2874 26.967C46.124 27.0809 45.9605 27.1741 45.7869 27.2777L45.7562 27.3295C45.4906 27.5055 45.2147 27.6505 44.9185 27.8162C44.8776 27.8369 44.8367 27.868 44.7857 27.8887C44.469 28.0647 44.1319 28.2201 43.805 28.3961C43.5189 28.5204 43.2431 28.655 42.9468 28.7896H42.9366L42.6097 28.9346L41.9252 29.235L41.6188 29.3489C41.2919 29.4835 40.9547 29.6078 40.6278 29.732C40.2805 29.8563 39.9332 29.9702 39.5756 30.0841C39.5143 30.1049 39.453 30.1359 39.3815 30.1463C39.0342 30.2602 38.697 30.3534 38.3497 30.457C37.9717 30.5709 37.5733 30.6641 37.1851 30.7676C37.1749 30.7676 37.1647 30.7676 37.1647 30.778C36.7765 30.8608 36.378 30.9644 35.9796 31.0473H35.9694L34.815 31.2751L34.6311 31.3165L33.5074 31.5029C33.0885 31.5651 32.6697 31.6168 32.261 31.6686C31.4131 31.7825 30.5448 31.855 29.6764 31.9068C29.2474 31.9275 28.8081 31.9482 28.3688 31.9689C28.144 31.9689 27.9295 31.9793 27.6946 31.9689C27.6435 31.9793 27.5924 31.9793 27.5515 31.9793H27.1327C27.0918 31.9896 27.051 32 27.0101 32C26.959 32 26.9284 31.9896 26.8875 31.9793H26.8364C26.4686 31.9793 26.1111 31.9689 25.7535 31.9689C25.3653 31.9586 24.9669 31.9275 24.5787 31.9172C24.497 31.9068 24.3948 31.9068 24.3131 31.8964C23.4959 31.8447 22.6786 31.7722 21.8715 31.6893C21.4527 31.6375 21.0338 31.5754 20.6048 31.5133C20.1859 31.4511 19.7875 31.3786 19.3686 31.3062C18.9498 31.2337 18.5513 31.1612 18.1427 31.068C17.7341 30.9748 17.3459 30.8919 16.9475 30.7987L15.8033 30.4984C15.7829 30.488 15.7522 30.4777 15.7318 30.4777C15.3742 30.3741 15.0167 30.2706 14.6489 30.1566C14.6387 30.1463 14.608 30.1463 14.5876 30.1359C14.2607 30.0324 13.9236 29.9288 13.6069 29.8149C13.1677 29.6492 12.7488 29.4939 12.33 29.3282C11.9826 29.1935 11.6557 29.0589 11.339 28.9036C10.8384 28.6964 10.3583 28.4583 9.88835 28.2201C9.80662 28.1683 9.72491 28.1372 9.64318 28.0958V28.0854C9.22433 27.8783 8.82587 27.6505 8.44788 27.4227C8.40702 27.4019 8.38661 27.3812 8.34575 27.3709C8.04949 27.1948 7.77364 27.0084 7.49782 26.822C7.44674 26.8013 7.38547 26.7599 7.33439 26.7184C6.60906 26.2421 5.95522 25.7346 5.32184 25.2168C5.20946 25.1133 5.09712 25.0201 4.97453 24.9165C4.85194 24.8026 4.73953 24.6887 4.61694 24.5955L4.26964 24.2641L3.94272 23.9327C3.7997 23.7877 3.65664 23.6324 3.52384 23.477C3.39103 23.3113 3.25826 23.1663 3.11524 22.9903C3.01308 22.866 2.91094 22.7314 2.80878 22.5968C2.70662 22.4725 2.62486 22.3482 2.5227 22.2136C1.17421 20.3184 0.438683 18.2162 0.428467 16.0311C0.448898 13.3282 1.54199 10.8013 3.49322 8.59547ZM7.99838 15.6375C8.04946 13.8045 8.46831 12.0129 9.21407 10.3353C7.26284 10.0453 5.41379 9.71392 3.6771 9.33074C3.65667 9.32039 3.64647 9.32039 3.63626 9.32039C2.06302 11.2466 1.16401 13.3799 1.07207 15.6375H7.99838ZM3.64648 22.6693C3.6567 22.6693 3.66687 22.6693 3.66687 22.6589C5.40357 22.2757 7.25262 21.934 9.20385 21.644C8.44787 19.956 8.02908 18.1333 7.98822 16.2693H1.06184C1.13336 18.5579 2.05281 20.712 3.64648 22.6693ZM4.13682 8.79223C5.81222 9.15469 7.59999 9.47573 9.48992 9.73463C10.3889 7.9534 11.6659 6.31715 13.3209 4.88803C12.3299 4.68091 11.3696 4.43236 10.4808 4.16311C10.4706 4.16311 10.4707 4.16311 10.4604 4.15275C7.86561 5.43689 5.6896 7.00065 4.10615 8.77152C4.11636 8.78188 4.12661 8.79223 4.13682 8.79223ZM10.5115 27.8369C10.5217 27.8265 10.5217 27.8265 10.532 27.8265C11.4412 27.5676 12.3708 27.3295 13.3515 27.1016C11.6966 25.6725 10.3991 24.0259 9.48992 22.2343C7.59999 22.5036 5.81222 22.835 4.13682 23.2078C4.12661 23.1974 4.11637 23.2078 4.11637 23.2078C5.72026 24.9786 7.89625 26.5528 10.5115 27.8369ZM15.2517 15.6375C14.6285 14.6227 14.2914 13.4421 14.2914 12.2201C14.2914 11.7955 14.3322 11.3709 14.414 10.967C12.8407 10.8013 11.3185 10.6356 9.84745 10.4181C9.07104 12.0647 8.66245 13.8252 8.61137 15.6375H15.2517ZM9.84745 21.5508C12.4831 21.178 15.2926 20.888 18.2041 20.7016C18.1223 20.2149 18.0406 19.7178 17.9691 19.2207C17.0905 18.268 16.2835 17.2738 15.6501 16.2485H8.60114C8.64201 18.0919 9.06083 19.8835 9.84745 21.5508ZM14.5672 10.356C15.221 8.12945 16.9781 6.41036 19.195 5.83042C17.4072 5.63366 15.6909 5.37476 14.087 5.04337C14.0462 5.06408 14.0156 5.09515 13.9747 5.12621C12.3299 6.50356 11.0325 8.09838 10.1437 9.81748C11.5638 10.035 13.045 10.211 14.5672 10.356ZM13.9849 26.8427C14.0258 26.8841 14.0666 26.9049 14.1075 26.9463C15.9361 26.5735 17.8567 26.2731 19.8692 26.0764C19.2052 24.6783 18.6842 23.0731 18.3267 21.323C15.4764 21.5094 12.7284 21.7786 10.1437 22.1515C11.053 23.8706 12.3299 25.4654 13.9849 26.8427ZM11.3594 3.75922C12.1767 3.98706 13.045 4.18382 13.944 4.38058C15.6092 3.04466 17.5196 1.99871 19.5832 1.26343C19.5423 1.26343 19.5117 1.27379 19.4708 1.27379C19.1031 1.33592 18.7455 1.40841 18.3879 1.48091C17.7546 1.61553 17.1109 1.77087 16.498 1.93657C16.263 1.98835 16.0281 2.06084 15.8135 2.12298C14.2199 2.56828 12.7181 3.11715 11.3288 3.73851C11.339 3.75922 11.339 3.75922 11.3594 3.75922ZM18.2755 30.457C18.6944 30.5398 19.1234 30.633 19.5627 30.7055C17.5093 29.9702 15.6194 28.9346 13.9645 27.6091C13.0655 27.7955 12.2073 27.9922 11.3901 28.2304H11.3697C13.4537 29.1625 15.7624 29.9184 18.2755 30.457ZM20.1348 5.30227C20.237 5.11586 20.3289 4.92945 20.4413 4.74304C21.4731 2.93074 22.7093 1.58447 24.0782 0.818123C20.5946 1.26343 17.3766 2.55793 14.7307 4.53592C16.4367 4.85696 18.2449 5.11586 20.1348 5.30227ZM24.1088 31.1508C22.5764 30.2706 21.2177 28.7068 20.1655 26.6667C18.296 26.8531 16.4775 27.112 14.7613 27.4537C17.4174 29.4214 20.6456 30.7055 24.1088 31.1508ZM18.817 20.6705C19.0009 20.6498 19.195 20.6498 19.3891 20.6291C19.1541 20.422 18.9192 20.1942 18.7046 19.956C18.7251 20.1942 18.7761 20.4324 18.817 20.6705ZM20.5026 26.0039C22.27 25.8382 24.0782 25.745 25.9272 25.7139C24.6605 24.8854 22.3006 23.2388 20.0327 21.2091C19.6547 21.2298 19.2869 21.2608 18.9294 21.2712C19.2971 23.0317 19.8284 24.6265 20.5026 26.0039ZM26.673 5.6233V0.631715C24.5277 0.776699 22.5151 2.3301 20.9725 5.05372C20.9112 5.15728 20.8499 5.25049 20.7989 5.3644C22.6888 5.5301 24.6502 5.6233 26.673 5.6233ZM26.6832 31.3372V26.3353C24.6707 26.3456 22.7093 26.4388 20.8193 26.6045C22.3006 29.3903 24.3744 31.1715 26.6832 31.3372ZM26.673 9.42395V6.24466C25.5492 6.24466 24.4357 6.22395 23.3528 6.16181C24.8035 6.79353 25.9987 7.97411 26.673 9.42395ZM33.252 5.35405C33.2009 5.28155 33.1703 5.20906 33.1192 5.11586C31.6072 2.44401 29.564 0.745631 27.2859 0.621359V5.6233C29.3189 5.6233 31.311 5.5301 33.252 5.35405ZM28.5833 7.55987C29.1759 6.94887 29.8603 6.4932 30.6061 6.16181C29.513 6.22395 28.4097 6.24466 27.2859 6.24466V9.4343C27.6026 8.74045 28.0317 8.10874 28.5833 7.55987ZM33.0783 26.9152C33.1396 26.8013 33.2009 26.7081 33.252 26.5942C31.3416 26.4285 29.3393 26.3456 27.2961 26.3353V31.3372C29.4619 31.2233 31.5051 29.6595 33.0783 26.9152ZM33.5585 25.9935C34.2429 24.5748 34.7741 22.9903 35.1317 21.2712C34.7435 21.2505 34.3451 21.2298 33.9569 21.2091C31.6992 23.2388 29.3291 24.8751 28.0725 25.7139C29.9625 25.7346 31.8013 25.8382 33.5585 25.9935ZM33.8854 5.30227C35.7549 5.11586 37.5733 4.85696 39.2793 4.51521C36.7049 2.59935 33.487 1.27379 29.9318 0.797411C31.4744 1.68803 32.8331 3.26214 33.8854 5.30227ZM39.2998 27.4227C37.6039 27.1016 35.806 26.8427 33.9058 26.6667C33.8037 26.8531 33.7117 27.0395 33.5993 27.2259C32.5675 29.0382 31.3212 30.3845 29.9625 31.1508C33.5176 30.6744 36.7356 29.3489 39.2998 27.4227ZM39.9638 26.9152C41.6086 25.5482 42.957 23.9327 43.8969 22.1411C41.3327 21.789 38.6051 21.5094 35.7344 21.3126C35.6834 21.5612 35.6323 21.8201 35.571 22.0686C35.2441 23.4874 34.7741 24.8337 34.2021 26.0557C36.235 26.2524 38.1658 26.5424 39.9638 26.9152ZM40.0864 4.35987C40.9854 4.17346 41.8537 3.96634 42.6812 3.72816C41.3123 3.1068 39.8412 2.56828 38.3088 2.13333L37.6346 1.94693C37.0318 1.78123 36.4291 1.63625 35.8162 1.51197C35.5097 1.44984 35.2032 1.3877 34.8967 1.33592C34.7333 1.2945 34.5801 1.27379 34.4166 1.25307C36.5313 1.99871 38.4416 3.05502 40.0864 4.35987ZM42.7221 28.2097C41.8844 27.9819 41.016 27.7748 40.0966 27.5884C38.4519 28.8932 36.5415 29.9599 34.437 30.7055C37.42 30.1981 40.2192 29.3489 42.7221 28.2097ZM35.2441 20.6498C35.2952 20.3909 35.3258 20.132 35.3667 19.8628L34.5903 20.6084L35.2441 20.6498ZM37.7674 7.55987C38.5233 8.32621 39.0852 9.28932 39.3917 10.356C40.9343 10.211 42.4462 10.0246 43.8867 9.81748C42.9672 8.05696 41.6392 6.46214 40.0251 5.1055L39.9127 5.02265C38.268 5.35405 36.5415 5.63366 34.7435 5.82007C35.9081 6.12039 36.9501 6.73139 37.7674 7.55987ZM44.2034 21.5197C44.9695 19.8835 45.3986 18.1023 45.4395 16.2382H38.319C37.7163 17.222 36.9297 18.1851 36.0716 19.1172C36.0205 19.635 35.9387 20.1631 35.8468 20.6809C38.7992 20.8777 41.6085 21.1676 44.2034 21.5197ZM45.4395 15.6272C45.3884 13.7942 44.9491 12.0337 44.1931 10.4078C42.7016 10.6356 41.1386 10.8013 39.5551 10.9566C39.6369 11.3709 39.6777 11.7851 39.6777 12.2097C39.6777 13.4317 39.3611 14.5916 38.7379 15.6272H45.4395ZM44.5507 9.73463C46.4509 9.44466 48.2488 9.12362 49.9549 8.76117C48.7801 7.44596 47.2579 6.22395 45.4497 5.14693C44.8368 4.78447 44.2136 4.44272 43.5496 4.13204C42.6404 4.40129 41.6903 4.63948 40.6993 4.85696C42.3032 6.25502 43.6109 7.91197 44.5507 9.73463ZM43.5904 27.7955C44.234 27.4848 44.8572 27.1534 45.4497 26.7909C47.2477 25.7139 48.7494 24.5023 49.9345 23.2181C48.2591 22.8453 46.4406 22.5243 44.5405 22.2447C43.6108 24.0466 42.3134 25.6725 40.7198 27.0809C41.7311 27.288 42.6812 27.5366 43.5904 27.7955ZM46.0524 15.6272L52.9788 15.6168C52.9073 13.701 52.2432 11.8576 51.048 10.1282C50.8539 9.8589 50.6394 9.56893 50.4146 9.31003C48.6677 9.6932 46.7982 10.0453 44.8367 10.3249C45.5723 11.9715 46.0013 13.7631 46.0524 15.6272ZM50.4248 22.6278C52.0389 20.6498 52.9175 18.4751 52.9788 16.2278L46.0524 16.2382C46.0116 18.123 45.5825 19.9353 44.8367 21.6026C46.8288 21.9133 48.6983 22.2447 50.4248 22.6278Z" fill="black"/>
  </symbol>
  <symbol id="iconlist" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
    <path id="Vector" d="M0 8C4.41611 8 8 11.5808 8 16C8 11.5808 11.5839 8 16 8C11.5839 8 8 4.41918 8 0C8 4.41918 4.41611 8 0 8Z" fill="black"/>
  </symbol>
  <symbol  id="iconChevron" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <path d="M7 10.5L12 15.5L17 10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </symbol>
</svg>       

<div class="page-{{page.handle}} text-center">
    {{ page.content }}
    {% section 'hero-text' %}
    {% section 'navigation' %}
    {% section 'text-image' %}
    {% section 'hero-video' %}
    {% section 'hp-marquee' %}
    {% section 'double-product-block' %}
    {% section 'image-text' %}
    {% section 'tabs-image-text' %}
    {% section 'hero-video-with-text' %}
    {% section 'image-text-2' %}
    {% section 'double-image-text' %}

    {% section 'fake-instagram-block' %}
    {% section 'faq-smooth' %}
    
</div>
<style>
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
  }
  .ac-text,
  .ac-text--sm{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .ac-title--medium.ac-title--medium {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-transform: lowercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  .ac-title--small.ac-title--small {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: lowercase;
    margin-bottom: 4px;
  }
  .ac-text--xsmall {
    font-size: 12px;
    line-height: 18px;
    text-transform: lowercase;
  }

  .ac-image__wrap {
    border-radius: 10px;
    overflow: hidden;
  }
  .ac-image {
    width: 100%;
    height: auto;
  }
  .ac-container {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ac-container--large {
    max-width: 1280px;
  }
  .ac-offset__bottom-xs.ac-offset__bottom-xs {
    margin-bottom: 4px;
  }
  .ac-offset__bottom-lg.ac-offset__bottom-lg {
    margin-bottom: 40px;
  }
  .ac-offset__bottom-md.ac-offset__bottom-md {
    margin-bottom: 32px;
  }
  .ac-offset__bottom-sm.ac-offset__bottom-sm {
    margin-bottom: 16px; 
  }
  .ac-video__wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .ac-video__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /*  marquee */
  .as-marquee__wrap .ico.world-heart {
    margin-left: 45px;
    margin-right: 48px;
  }
  .as-marquee__wrap span {
    text-transform: uppercase!important;
    color: var(--Primary-Black, #000);
    font-family: 'Founders Grotesk Mono', helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px; /* 178.571% */
    letter-spacing: 2px;
  }
  .ac-label {
    position: relative;
  }
  .ac-list {
    list-style: none;
    padding-left: 0;
  } 
  .ac-list li { padding-left: 4px; }
  .ac-content__box--column {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .ac-content__box--half {
    width: 50%;
  }
  .ac-content__box--forty {
    width: 40%;
  }
  .ac-content__box--sixty {
    width: 60%;
  }
  .ac-section--double-half {
    display: flex;
    flex: 1 1 50%;
    column-gap: 20px;
  }
  .shopify-section--offset-lg {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .shopify-section--offset-md,
  .ac-container--offset-md {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .ac-block--desktop {
    display: block;
  }
  .ac-block--mobile {
    display: none;
  }
  .ac-offset--top-sm {
    margin-top: 24px;
  }
  .ac-button {
    cursor: pointer;
    padding: 13px 33px 11px;
    border: 0;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.167px;
    text-transform: uppercase;
    white-space: nowrap;
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 100px;
  }
  .ac-button--black {
    background-color: #000;
    color: #fff;
  }
  
  .ac-button--black:hover,
  .ac-button--black:focus {
    background-color: transparent;
    color: #000;
    opacity: 1!important;
  }
  .ac-block--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  
  @media screen and (max-width: 767.98px) {
    .ac-block--desktop {
      display: none;
    }
    .ac-block--mobile {
      display: block;
    }
    .ac-content__box--half,
    .ac-content__box--forty,
    .ac-content__box--sixty {
      width: 100%;
    }

    .ac-content__box--half:not(:last-of-type) {
      margin-bottom: 40px;
    } 
    .ac-section--double-half {
      flex-direction: column;
    }

    .ac-section--double-half {
      margin-bottom: 0;
    }
    .shopify-section--offset-lg {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    #shopify-section-hero-video-with-text {
      margin-bottom: 80px
    }
    .ac-container {
      padding-left: 0;
      padding-right: 0;
    }
    .ac-container--mobile {
      padding-left: 20px;
      padding-right: 20px;
    }

  }
</style>