<div class="ac-image-text ac-container">
  {% for block in section.blocks %}
    {% render 'cross-image-text',
        grid_inverse: block.settings.grid_inverse,
        image: block.settings.image,
        label: block.settings.label,
        labelText: block.settings.labelText,
        title: block.settings.title,
        description: block.settings.description,
        note: block.settings.note,
        cta-link: block.settings.cta-link,
        cta-text: block.settings.cta-text,
        block-id: block.settings.cta-text
    %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Text Image",
  "class": "shopify-section--offset-md",
  "blocks": [
        {
        "type": "grid_block",
        "name": "Grid Item",
        "settings": [
            {
                "type": "checkbox",
                "id": "label",
                "label": "Label?"
            },
             {
                "type": "text",
                "id": "labelText",
                "label": "Label Text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "html",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "text",
                "id": "note",
                "label": "Note"
            },
            {
                "type": "checkbox",
                "id": "grid_inverse",
                "label": "Grid Inverse?"
            },
                      {
              "type": "url",
              "id": "cta-link",
              "label": "CTA Link"
            },
            {
              "type": "text",
              "id": "cta-text",
              "label": "CTA Text",
              "default": "Learn More"
            },
            {
              "type": "text",
              "id": "block-id",
              "label": "Block Id"
            }
        ]
     }
  ]
}

{% endschema %}